<style>
    /* Move down content because we have a fixed navbar that is 50px tall */
    body {
      padding-top: 50px;
      padding-bottom: 20px;
    }

    .jumbotron {
      background-image: url("https://codehs.com/uploads/896fb5d8ad3c90e54a31efd55fa4ba95");
      color: #EEE;
    }

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;

        height: 175px;
    }
  </style>
