p {
  color: #6ac5fe;
  font-size: large;
  text-align: left;
  font-family: monospace;
  font-style: italic;
}

div {
  color: #6ac5fe;
  font-size: large;
  text-align: left;
  font-family: monospace;
  font-style: italic;
}

h2 {
  color: #6ac5fe;
  font-size: large;
  text-align: left;
  font-family: monospace;
  font-style: italic;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 175px;
    }

.banner {
    background-image: url("https://cdna.artstation.com/p/assets/images/images/034/375/954/large/ahmed-samier-naruto-banner.jpg?1612144068");
}

hr {
  color: white;
}
